.footer{
  width: 100%;  
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;

    hr{
        width: 100%;
    }
    
    .details{
        margin-top: 5px;
        color: green;
        filter: drop-shadow(1px 1px 1px black);
    }

}